* {
  font-family: Poppins;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

header {
  display: flex;
  width: 90%;
  height: 8vh;
  margin: auto;
  align-items: center;
}

.logo-container {
  font-size: 1.5em;
  flex: 3;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: flex-end;
  justify-content: space-around;
  display: flex;
}

.nav-link {
  font-size: 1.3em;
  list-style: none;
}

main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breathing-box {
  display: inline-block;
  margin: 0 auto;
  height: 88vmin;
  width: 88vmin;
}

.breathing-circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin: 0 auto;
  background-color: lightblue;
}


.settings-box {
  position: fixed;
  bottom: 0.5vh;
  right: 0.5vw;
  height: 8vmin;
}

.settings-box img{
  max-width:100%;
  max-height:100%;
}

.settings-box img:hover {
  cursor: pointer;
}

.show-side-bar {
  transform: translateX(0) !important;
}

.sidebar {
  transition: 0.2s;
  transform: translateX(100%);
  background-color: rgba(10,10,10,0.1);
  position: absolute;
  right: 0;
  top: 8vh;
  display: block;
  width: 100vh;
  max-width: 500px;
  height: 92vh;
  padding: 10px;
}

.control-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type=range] {
  width: 100%;
}

input[type=number] {
  border: none;
  font-size: 20px;
  background-color: inherit;

}

.control-row label {
  vertical-align: middle;
  font-size: 22px;
}
